.signup-form{
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
    width: 70%;
    margin: auto;
    height: 500px;
}

.signup-heading{
    text-align: center;
}
.signup-form-details{
    display: flex;
    flex-wrap: wrap;
}