.navlinks.fixed
    ul.showcase-ul
        li.showcase-li
            a(href='') FEATURES
        li.showcase-li
            a(href='') DETAILS
        li.showcase-li
            a(href='') REVIEWS
        li.showcase-li
            a(href='') PLANS
        li.showcase-li
            a(href='') SIGNUP
