extends base.pug
block content
 form
  .entry
    .entry-text Email
    input#email(type='email' name='Email' required='')
  .entry
    .entry-text Password
    input#pw(type='password' name='password')
  span#message  
  .btn-parent
    button.btn.btn-full.form-button.loginBtn Log In
  .btn-parent
    button.btn.btn-full.form-button.forgetPassword Forget Password  
block scripts
 script(src="./js/login.js") 