/* border-box , padding */
*{
    box-sizing: border-box;
}

html,body{
    margin:0px;
    padding:0px;
}
.menu{
    border: 1px solid blue;
    height: 30px;
}
.menu-options{
    border: 1px solid red;
    height: 50px;
}
.formula-tab{
    border: 1px solid green;
    height: 30px;
}
.content{
    height: calc(100vh - 140px);
    background: #2ecc71;
    overflow: auto;
    position: relative;
}
.sheets{
    border: 1px solid blue;
    height: 30px;
}
.row{
    display: flex;
}
.cell{
    border: 1px solid;
    min-width: 70px;
    max-width: 70px;
    text-align: center;
}
.top-left-cell{
    border: 1px solid gray;
    height: 20px;
    width: 30px;
    background: gray;
}
.cells{
    position: absolute;
    top: 20px;
    left: 30px; 
}
.left-col{

}
.left-col .col{
    border: 1px solid;
    width: 30px;
    text-align: center;
}
.top-row{
    display: flex;
    position: absolute;
    top: 0px;
    left: 30px;
}
.top-row .cell{

}
.cell-address{

}
.formula{
    
}