*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    
}
input{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    border-bottom: 1px solid lightgray;
    padding:10px;
    justify-content: space-between;
    display: flex;
    background-color: white;
    position: sticky;
    top:0px;
    z-index: 1;
}
.navbar__image{
    object-fit: contain;
}

