<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navlinks">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
    </div>
    <h1>Welcome to home page !!!</h1>
</body>
</html>