doctype html
html
 head
  title pug intro
 body
  h1 Hey i am pug heading
  p Hii i am a p tag
  p. 
   hey i am first line
   hey i am second line
  p
   |hey i am also a first line
   |hey i am also a second line
  .myclass hey i am div
  #myid hey i am div tag
  h1.myclass
  a(href="https://www.google.com") Go to google.com
  img(src="")
  -const classes = ["h1" , "sm" , "blue"];
  p(class = classes)
  -const items = ["mobiles" , "laptops" , "watches"];
  ul
   for item in items
    li=item
   else
    li No items 


