.header{
/* background: black; */
height: 60px;
border-bottom: 1px solid lightgray;
display: flex;
align-items: center;
justify-content: space-between;
position: sticky;
top: 0px;
background: white;
}

.header-image{
/* background: lightpink; */
margin-left: 20px;
}

.header-image img{
    
}

.header-navlinks{
/* background: chartreuse; */
width: 400px;
}

.header-navlinks-ul{
list-style: none;
display: flex;
justify-content:space-evenly;
width: 100%;
}

.header-navlinks-ul li{
text-decoration: none;
}
