.profile-list{
}

.view-name{
    font-weight: bold;
    text-align: center;
}

.user{
    height: 100px;
    /* background: coral; */
    display: flex;
}
.user-image{
height: 100%;
width: 80px;
}


.user-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.user-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
