*{
    box-sizing: border-box;
}
body,html{
    margin:0px;
    padding:0px;
}
.tools{
    height: 80px;
    display: flex;
    justify-content: center;
}

.tool-items{
    display: flex;
    justify-content: space-evenly;
    background: aliceblue;
    height: 100%;
    align-items: center;
    width: 80%;
    border-radius: 26px;
    /* position: relative; */
    /* left: 60px; */
}

.tool{
    height: 45px;
}
.tool-img{
    height: 100%;
}
.tool-img img{
    height: 100%;
}



.drawing-area{
    /* border: 1px solid; */
    height: calc(100vh - 50px);
}
/* .canvas{
    height: 100%;
    width: 100%;
} */

